                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
 .xhover{background:red;}
input[type="text"].suggest{border-width:1px;}
body{position:relative;}
div.suggestItems{position:absolute;border:1px solid #DDDDDD;border-top:none;background:white;z-index:100013;text-align:left;}
div.suggestItems ul{margin:0;}
ul.suggestList{margin:0!important;text-transform:none;color:#000000;font-weight:normal;}
ul.suggestList .xhighlight{background-color:#FFFFDD;}
div.suggestItemName{text-indent:0;}
div.suggestItemInfo{color:#567;font-size:.8em;padding-left:20px;text-indent:0;}
div.suggestItemName,div.suggestItemInfo{text-decoration:inherit;}
.highlight{background-color:#FFFFDD;font-weight:bold;text-decoration:inherit;}
